:root {
  --primary-white-color: #ffffff;
  --dark-bg-color: #2f303a;
  --light-bg-color: #f5f4fa;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --main-font: 'Roboto', sans-serif;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-white-theme {
  color: #000000;
}

.logo-dark-theme {
  color: #ffffff;
}

.button {
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  transition: background-color 250ms var(--cubic);
}

.button:hover, .button:focus {
  background-color: #188ce8;
}

.sections-title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-list__icon {
  width: 20px;
  height: 20px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-win {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 40px;
  padding-bottom: 40px;
  transform: translate(-50%, -50%);
  transition: box-shadow 250ms var(--cubic);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: transparent;
  fill: #000000;
  transition: fill 250ms var(--cubic);
}

.close-btn:hover, .close-btn:focus {
  fill: var(--accent-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.modal-form-field {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--cubic);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
  fill: var(--primary-text-color);
  transition: fill 250ms var(--cubic);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--cubic);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-message::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-form-checkbox-label::before {
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 250ms var(--cubic), border-color 250ms var(--cubic);
}

.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-image: url(../images/modal-window/check.svg);
  /* background-repeat: no-repeat; */
  background-size: contain;
  background-position: 50% 50%;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-origin: border-box;
}

.modal-form-checkbox:focus + .modal-form-checkbox-label::before,
.modal-form-checkbox:hover + .modal-form-checkbox-label::before {
  border-color: var(--accent-color);
}

.modal-form-label-link {
  color: var(--accent-color);
}

.modal-form-btn {
  display: block;
  align-self: center;
}

.header {
  background-color: var(--primary-white-color);
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  margin-left: 93px;
  font-size: 14px;
}

.menu__item {
  position: relative;
  display: block;
  height: 100%;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms var(--cubic);
}

.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

.menu__link-current::after {
  position: absolute;
  bottom: -1px;
  content: '';
  display: block;
  opacity: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  opacity: 1;
}

.contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact-list__item:not(:last-child) {
  margin-right: 50px;
}

.contact-list__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color 250ms var(--cubic);
}

.contact-list__link:hover, .contact-list__link:focus {
  color: var(--accent-color);
}

.contact-list__icon {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  height: 600px;
  background-color: var(--dark-bg-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
}

.hero__title {
  display: block;
  max-width: 696px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.features {
  background-color: var(--primary-white-color);
  padding-bottom: 47px;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
  border: none;
}

.features__item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 120px) / 4);
}

.features__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 270px;
  background-color: var(--light-bg-color);
  margin-bottom: 30px;
}

.features__title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.about {
  background-color: var(--primary-white-color);
  padding-top: 47px;
}

.about__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.about__item {
  position: relative;
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.about__title {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--light-bg-color);
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.team__item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 120px) / 4);
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__meta {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 32px;
  padding-left: 32px;
}

.team__names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__description {
  margin-top: 10px;
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.team__social-link {
  background-color: transparent;
  fill: #afb1b8;
  transition: fill 250ms var(--cubic), background-color 250ms var(--cubic);
}

.team__social-link:hover, .team__social-link:focus {
  fill: #ffffff;
  background-color: var(--accent-color);
}

.loyal-clients-list {
  display: flex;
  justify-content: space-between;
}

.loyal-clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  background-color: transparent;
  fill: #afb1b8;
  transition: fill 250ms var(--cubic), border 250ms var(--cubic);
}

.loyal-clients-list-link:hover, .loyal-clients-list-link:focus {
  fill: var(--accent-color);
  border: 1px solid #2196f3;
}

.footer-section {
  background-color: var(--dark-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.footer-address-section {
  font-style: normal;
}

.footer-address-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address-post {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  transition: color 250ms var(--cubic);
}

.footer-address-post:hover, .footer-address-post:focus {
  color: var(--accent-color);
}

.footer-address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--cubic);
}

.footer-address-link:hover, .footer-address-link:focus {
  color: var(--accent-color);
}

.footer-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer-social-list-wrapper {
  margin-left: 70px;
  width: 206px;
  height: 80px;
}

.footer-social-list-link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  transition: background-color 250ms var(--cubic);
}

.footer-social-list-link:hover, .footer-social-list-link:focus {
  background-color: var(--accent-color);
}

.footer-subscribe-form-wrapper {
  margin-left: 93px;
}

.subscribe-form {
  display: flex;
}

.footer-subscribe-input {
  width: 372px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: transparent;
  transition: border-color 250ms var(--cubic);
}

.footer-subscribe-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-send-icon {
  fill: #ffffff;
  margin-left: 10px;
}

.portfolio-filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-filter-item {
  margin-right: 8px;
}

.portfolio-filter-button {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--primary-text-color);
  background-color: var(--light-bg-color);
  transition: color 250ms var(--cubic), background-color 250ms var(--cubic), box-shadow 250ms var(--cubic);
}

.portfolio-filter-button:hover, .portfolio-filter-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-filter-item:last-child {
  margin-right: 0;
}

.portfolio-section {
  background-color: var(--primary-white-color);
}

.portfolio-section {
  background-color: var(--primary-white-color);
}

.portfolio-works-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.portfolio-works-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.portfolio-works-link {
  display: block;
  transition: box-shadow 250ms var(--cubic);
}

.portfolio-works-link:hover, .portfolio-works-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-works-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-works-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--cubic);
}

.portfolio-works-link:hover .portfolio-works-overlay,
.portfolio-works-link:focus .portfolio-works-overlay {
  transform: translateY(0%);
}

.works-info {
  padding: 20px 24px;
  background: var(--primary-white-color);
  border: 1px solid #eeeeee;
}

.portfolio-works-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.portfolio-works-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/*# sourceMappingURL=main.css.map */